.intro_produto {
  background: url("/img/esporte-1.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.produtos_item {
  padding-top: 60px;
}

.icone_passeio,
.icone_esporte,
.icone_retro {
  background-color: #1a1a1a;
  padding: 70px 0;
}

.icone_passeio img,
.icone_esporte img,
.icone_retro img {
  margin: 0 auto;
}

.produtos_item div:last-child,
.produtos_item div:nth-child(3) {
  margin-top: 20px;
  background: #1a1a1a;
}

.produtos_item div:last-child p {
  padding: 40px 40px;
  padding-bottom: 50px;
  color: white;
}

.produtos_item div:last-child ul li {
  float: left;
  text-align: center;
  padding: 15px 0;
  margin-top: 2px;
  background: #caa757;
  width: 229px;
}

.produtos_item div:last-child ul li:nth-child(even) {
  margin-left: 2px;
}

.produtos_item h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  position: relative;
  top: -185px;
  text-align: center;
  margin-bottom: -99px;
}

.produtos_item h2::before,
.produtos_item h2::after {
  background: white;
  content: "";
  display: block;
  height: 3px;
  margin: 10px auto;
  width: 60px;
}

.orcamento {
  margin-top: 60px;
  padding: 50px 0;
  overflow: hidden;
  background-color: #1a1a1a;
}

.formulario {
  margin-right: 130px;
}

.formulario label {
  display: block;
  margin-top: 10px;
  color: #caa757;
}

.formulario input,
.formulario textarea {
  background-color: #1a1a1a;
  border: 2px solid #caa757;
  color: whitesmoke;
  width: 100%;
}

.formulario input[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px 40px;
  color: #caa757;
}

.dados {
  height: 300px;
}

.dados h3 {
  color: #caa757;
  font-weight: bold;
  margin: 20px 0;
}

.dados span {
  color: whitesmoke;
  display: block;
  line-height: 20px;
}

.dados ul li {
  padding: 10px;
  color: whitesmoke;
}
.dados ul li:nth-child(odd) {
  background-color: rgb(63, 63, 63);
}

hr {
  position: relative;
  top: 465px;
  border: 2px solid #caa757;
}
