body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

/*  Animações */
.call-to-action p,
.portfolio,
.subtitulo.subtitulo-claro,
.btn.btn-claro,
.btn,
.btn:hover,
.header_menu ul li a,
.header_menu ul li a:hover,
.subtitulo.subtitulo-claro:after {
  transition: all 0.6s ease-in;
}

.btn {
  border: 3px solid #caa757;
  padding: 8px 25px;
  color: black;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.btn:hover {
  border-color: black;
  color: #caa757;
  padding: 12px 29px;
  font-size: 18px;
}

.btn-claro {
  border: 3px solid #caa757;
  padding: 8px 25px;
  color: #caa757;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.btn-claro:hover {
  border-color: black;
  color: black;
  padding: 12px 29px;
  font-size: 18px;
}

.subtitulo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.subtitulo::after {
  background: black;
  content: "";
  display: block;
  height: 3px;
  margin: 10px auto;
  width: 60px;
}

.subtitulo-claro {
  color: #caa757;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.subtitulo-claro::after {
  background: #caa757;
  content: "";
  display: block;
  height: 3px;
  margin: 10px auto;
  width: 60px;
}

/* Header */

.header {
  background-color: #1a1a1a;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header_menu {
  margin-top: 20px;
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
}

.header_menu ul li a {
  color: #caa757;
  font-size: 0.875em;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}

.header_menu ul li a:hover {
  color: #fffefe;
}
/* Intro */

.intro {
  background: url("../img/bg-intro.jpg") no-repeat center;
  background-size: cover;
  height: 380px;
  margin-top: 96px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

.intro h1 {
  font-size: 2.93em;
  font-weight: 900;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.quote-externo {
  /* quando essa prop é setada, o text-align: center
  deixa de funcionar e pra alinhar ao centro
  é preciso utilizar o margin: 0 auto */
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

/* eu utilizo essas propriedades para criar os separadores
antes e depois do quote */
.quote-externo p::before,
.quote-externo p::after {
  background: black;
  content: "";
  display: block;
  height: 3px;
  margin: 10px auto;
  width: 60px;
}

.quote-externo p::before {
  margin: 20px auto 10px;
}
.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos_lista {
  margin-top: 80px;
}

.produtos_lista li {
  background-color: #caa757;
  text-align: center;
  outline: 1px solid white;
  outline-offset: -10px;
}

.produtos_icone {
  background-color: black;
  padding: 10px;
}

.produtos_lista li h3 {
  margin-top: 15px;
  text-transform: uppercase;
}

.produtos_lista li h3::after {
  background: black;
  content: "";
  display: block;
  height: 3px;
  margin: 5px auto;
  width: 60px;
}

.produtos_lista li p {
  text-align: left;
  padding: 35px;
  padding-bottom: 25px;
  padding-top: 15px;
}

.call-to-action {
  padding-top: 40px;
  clear: both;
  text-align: center;
}

/* Portfólio */

.call-to-action p {
  margin: 20px;
  color: #caa757;
}

.portfolio {
  background-color: black;
  width: 100%;
  padding: 60px;
}

.light {
  background-color: #caa757;
}

.black {
  color: black !important;
}

.portfolio_lista li:last-child {
  padding-top: 18px;
}

.portfolio div ul {
  margin-top: 40px;
}
